.home-container {
  background: transparent linear-gradient(337deg, #1e1e2080 0%, #68686a 100%) 0% 0% no-repeat padding-box;
  white-space: nowrap;
  position: relative;
  color: white;
  box-shadow: 0px 1.7vh 3.7vh rgba(0, 0, 0, 0.5019607843);
  border-radius: 1.11vh;
  height: 37vh;
  width: 95%;
  padding: 1.21vh 0 0 1.66vh;
  border-radius: 1.11vh;
  top: 50%;
  transform: translateY(-50%);
}

.custom-button 
{
    margin-top: 0.64vh;
    color: #fafafa;
    background-color: #ff0038;
    font-size: 1.5vh;
    padding-top: 0.64vh;
    padding-bottom: 0.64vh;
    border-radius: 0.55vh;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 3.2vh;
    font-style: normal;
    font-variant: normal;
    border-color: #ff0038;
    border-width: 0.18vh;
    border-style: solid;
}

.custom-botton:focus,
.custom-button:hover {
    background-color: #ff0038;
    border-style: solid;
    border-color: white;
    border-width: 0.18vh;
    box-shadow: 0 0px 1.85vh #ff0038aa;
}